@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

p{
  font-family: $font-family-serif;
}

html {
  position: relative;
  min-height: 100%;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;

}

.hero-scene {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 300px;
    background-image: url(../images/FondHeroScene.jpg);
    background-size:cover;
    filter: brightness(0.3);
  }
  * {
    /* This will make it stack on top of the ::before */
    position: relative;
  }
  .hero-scene-content{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -15px;
  }
}