@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

p{
  font-family: $font-family-serif;
  font-size: 18px;
}

html {
  position: relative;
  min-height: 100%;
}

main{
  margin-bottom: 250px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  
}

.hero-scene {
  position: relative;
  padding: 30px 0px;

  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(../images/FondHeroScene.jpg);
    background-size:cover;
    filter: brightness(0.3);
  }
  * {
    /* This will make it stack on top of the ::before */
    position: relative;
  }
  .hero-scene-content{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -15px;
  }
}

.image-card{
  position: relative;
  text-align: center;

  img{
    transition: all 0.3s;
  }
  
  .titre-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s;
  }

  .action-image-buttons{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    width:100%;
    opacity: 0;
    transition: all 0.3s;
    display: flex;
    justify-content: space-between;
  }

  &:hover{
    .action-image-buttons,
    .titre-image{
      opacity: 1;
    }
    img{
      filter: brightness(0.3)
    }
  }
 
}

.form-label{
  color:$primary;
}

.allbooking {
  a{
    display: block;
    color: $black;
    padding: 10px;
  }
}